ide/src/main/resources/schemas/xilliobot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XillioBot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RoutineSet" minOccurs="0"/>
				<xs:element ref="InstructionSet" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="Type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ROUTINE"/>
				<xs:enumeration value="VARIABLE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Target">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Source">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Instruction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target"/>
				<xs:element ref="Source"/>
				<xs:element ref="Type"/>
				<xs:element ref="Arguments"/>
				<xs:element ref="InstructionSet1"/>
				<xs:element ref="InstructionSet2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="BasicInstructionSet">
		<xs:sequence>
			<xs:element ref="Instruction" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InstructionSet">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BasicInstructionSet"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Arguments">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BasicInstructionSet"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="InstructionSet1">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BasicInstructionSet"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="InstructionSet2">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BasicInstructionSet"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RoutineSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Routine" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Routine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ArgumentNames" minOccurs="0"/>
				<xs:element ref="InstructionSet" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArgumentNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	
</xs:schema>
